@import './color.module.css';

.albumCard {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.albumCard:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.albumId {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.albumTitle {
  font-size: 1rem;
  color: var(--text-color);
  padding: 0 10px;
}
