:root {
    --primary-color: #2b7a78;
    --secondary-color: #3aafa9;
    --accent-color: #def2f1;
    --background-color: #f4f4f4;
    --text-color: #17252a;
    --error-color: #ff4d4d;
    --white: #ffffff;
  }
  