.nav {
  top: 0;
  position: sticky;
  padding: 2rem 0;
  background-color: white;
  z-index: 1000;
  display: flex;
  gap: 1rem;
}

.nav a {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--secondary-color);
}

